* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
    padding: 50px;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.pallete {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(14, 33, 95);
    padding: 4px;
}

input[type="text"] {
    width: 90%;
    margin: 0 40px;
    padding: 7px;
    font-size: 14px;
    float: left;
}

input[type="button"] {
    position: absolute;
    right: 10px;
    font-size: 14px;
    padding: 7px;
}

ul#messages {
    list-style-type: none;
}

ul#messages li {
    padding: 12px;
    margin: 10px 0;
    background: rgb(96, 9, 247);
    border-radius: 4px;
    color: #fff;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.48);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.48);
}

p {
    text-align: center;
    color: #1FDD46;
}
p span{
    display: block;
    color: #4A4646;
}


.theme-rainbow ul#messages li:nth-child(5n+0) {
    background: rgb(140, 205, 7);
}


.theme-rainbow ul#messages li:nth-child(5n+1) {
    background: rgb(247, 9, 136)
}

.theme-rainbow ul#messages li:nth-child(3n+2) {
    background: rgb(9, 166, 247);
}

.theme-rainbow ul#messages li:nth-child(5n+3) {
    background: rgb(9, 247, 111);
}

.theme-rainbow ul#messages li:nth-child(5n+4) {
    background: rgb(247, 81, 9);
}


time {
    color: #333;
    padding-right: 10px;
}



.theme-light ul#messages li{
      background: rgb(216, 243, 255);
      color : #666;
}
.theme-light ul#messages li:nth-child(2n+0) {{
      background: rgb(216, 243, 255)
}
.theme-light ul#messages li:nth-child(2n+1) {{
      background: rgb(193, 199,193)

}